.shopping-cart {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  height: 100%;
}

.shopping-cart-container {
  padding: 5em;
}

.cart-item {
  margin-top: 2em;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 1em 0;
}

.book-title {
  width: 20%;
}

hr {
  width: 800px;
}

.total-container {
  margin-top: 5em;
}

.checkout-container {
  padding: 5em;
}

.checkout-container h2 {
  font-size: 2.5em;
}

.checkout-content-container {
  margin-top: 2em;
}

.checkout-content-container h3 {
  font-size: 1.6em;
}

.checkout-content {
  display: flex;
  justify-content: space-between;
}

.sign-up-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 0;
}

.sign-up-img-container {
  width: 50%;
}

.sign-up-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sign-up-form-container {
  width: 50%;
  text-align: center;
  padding-top: 6em;
}

.cart-amount {
  background-color: #cdb4db;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
  right: 25px;
  top: 20px
}